// Status Indicator Colors

$status-success: #0f9c75;
$status-ongoing: #40a4b7;
$status-failure: #bf535d;

$time-trans-fast: 0.3s;
$time-trans-slow: 0.5s;

// Navigation

$nav-bg: #0c2254;
$nav-bg-highlight: #263b6e;
$nav-fg: #ededed;
$nav-fg-highlight: #ffffff;
