@import 'colors.scss';

#site-nav {
    background-color: $nav-bg;
    color: $nav-fg;

    display: flex;
    align-items: stretch;
    flex-direction: column;

    width: 240px;
    overflow-y: auto;

    a {
        color: inherit;
        text-decoration: none;
        display: block;
    }


}

.repositories {
    flex-grow: 1;
    align-items: flex-start;
    justify-content: stretch;
    flex-direction: column;
}


.permalinks {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 12px;
    flex-grow: 0;
    padding: 24px;


    a {
        opacity: 0.5;
        transition: opacity 0.5s;

        &:not(:last-child) {
            margin-bottom: 12px;
        }
        &.active, &:hover {
            opacity: 1;
        }
    }
}




#site-nav .repository {
    $health-indicator-height: 27px;
    $health-indicator-margin: 9px;
    $indicator-link-spacing: 24px;

    $indentation: 42px;
    $indicator-channel: 30px;

    $sublink-height: 18px + 12px;

    $padding-active: 24px;
    $padding-inactive: 12px;

    $title-height: 24px;

    $inner-height-inactive:
        $title-height +
        $health-indicator-height;
    $inner-height-active:
        $inner-height-inactive +
        $indicator-link-spacing +
        $sublink-height * 3;

    &:not(.active) {
        height: $inner-height-inactive + 2 * $padding-inactive;
        .content {
            transform: translate(0, $padding-inactive);
            height: $inner-height-inactive;
        }
    }

    &.active {
        height: $inner-height-active + 2 * $padding-active;
        .content {
            transform: translate(0, $padding-active);
            height: $inner-height-active;
        }
    }

    will-change: height;

    .content {
        overflow: hidden;
        transition: 
            transform $time-trans-slow,
            height $time-trans-slow;
    }

    padding-left: $padding-active;
    padding-right: $padding-active;

    transition: 
        background-color $time-trans-slow,
        height $time-trans-slow;
    

    display: block;
    width: 100%;
    position: relative;


    .repo-name {
        height: $title-height;
    }

    .details {
        display: block;
        overflow: hidden;
        position: relative;

        .subnav {
            opacity: 0;
            transition: opacity $time-trans-slow;
        }

        a {
            font-size: 12px;
            font-family: 'Montserrat Light';
            height: $sublink-height;
        }

        height: 3 * $sublink-height + $health-indicator-height + $indicator-link-spacing;
        margin-left: $indentation - $indicator-channel;
        padding-left: $indicator-channel;
    }


    &.active {
        background-color: $nav-bg-highlight;
        .subnav {
            opacity: 1;
        }
    }

    &:not(.active) .details {
    }

    .repo-health-indicator {
        margin-top: $health-indicator-margin;
        margin-bottom: $health-indicator-margin + $indicator-link-spacing;
        height: $health-indicator-height - $health-indicator-margin * 2;

        border-radius: 4.5px;
        overflow: hidden;

        display: flex;
    }

    .repo-health-indicator i {
        &.success { background-color: $status-success; }
        &.ongoing { background-color: $status-ongoing; }
        &.failure { background-color: $status-failure; }

    }

    .details::before {
        content: "";
        display: block;
        position: absolute;
        width: $indicator-channel;
        height: 12px;

        background-image: url(/static/images/chevron.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        top: 0;
        left: 0;
        transition: transform $time-trans-slow;
    }

    &:not(.active) .details::before {
        transform: translate(0, $health-indicator-margin - 3px) rotate(90deg);
    }


    $first-link: $health-indicator-height + $indicator-link-spacing + 2px;

    &.active {
        .details.location-base::before {
            transform: translate(0, $first-link);
        }
        .details.location-health::before {
            transform: translate(0, $first-link + $sublink-height);
        }
        .details.location-config::before {
            transform: translate(0, $first-link + $sublink-height * 2);
        }
    }

}