@import './mixins.scss';
$padding: 1em;

.packageStatusView {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;

    margin-top: 1em;
    margin-bottom: 1em;

    min-width: 300px;
    max-width: 600px;

    &[data-state="success"]:hover, &[data-state="success"].expanded {border-color: #0F8C75;}
    &[data-state="ongoing"]:hover, &[data-state="ongoing"].expanded {border-color: #263B6E;}
    &[data-state="failure"]:hover, &[data-state="failure"].expanded {border-color: #BF535D;}

    &.expanded .build-short-summary .build-hash:before {
        transform: rotate(90deg);
    }

    .build-short-summary {
        position: relative;

        display: flex;
        justify-content: stretch;
        min-height: 100px;

        cursor: pointer;

        .build-hash {
            font-weight: bold;
            &:before {
                position: relative;
                top: -0.1em;
                margin-right: 0.5em;
                display: inline-block;
                content: '\f054';
                font-family: 'FontAwesome';
                font-size: 0.7em;
                vertical-align: middle;

                transition: transform $trans-time-med;
            }
        }

        .permalink {
            z-index: 2000;
            @include fancy-underline(#263B6E);
            font-style: italic;
            margin-left: auto;
            float: right;

            position: absolute;
            top: $padding;
            right: $padding;

        }

        .description {
            padding: $padding;
            opacity: 0.8;
        }

        .package-build-summary {
            $bs-width: 3.5em;
            width: $bs-width;
            flex-shrink: 0;
            position: relative;

            & > * {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                color: rgba(255, 255, 255, 0.5);
                position: relative;
                height: 33%;
                min-width: $bs-width;

                padding-left: 1em;
                padding-right: 1em;


                &:last-child {
                    height: 34%;
                }


                &:before {
                    font-size: 0.6em;
                    font-family: 'FontAwesome';
                    margin-right: 0.5em;
                }

                &:after {
                    z-index: 100;
                    position: absolute;
                    top: 0;
                    left: 100%;
                    margin-left: -1em;

                    background-color: inherit;
                    height: 100%;

                    padding-left: 0.2em;
                    padding-right: 0.5em;

                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    opacity: 0;
                    max-width: 0;
                    overflow: hidden;
                    white-space: nowrap;

                    transition: opacity $trans-time-med, max-width $trans-time-med;
                }

                transition: color $trans-time-med;
                &:hover {
                    color: white;
                }

                &:hover:after {
                    opacity: 1;
                    max-width: 300px;
                }

            }

            .status-success { background-color: #0F8C75; }
            .status-failure { background-color: #BF535D; }
            .status-ongoing { background-color: #263B6E; }

            // .status-success[data-count="0"] { background-color: desaturate(lighten(#0F8C75, 20%), 90%); }
            // .status-failure[data-count="0"] { background-color: desaturate(lighten(#BF535D, 20%), 90%); }
            // .status-ongoing[data-count="0"] { background-color: desaturate(lighten(#263B6E, 20%), 90%); }

            .status-success:before { content: '\f00c'; }
            .status-failure:before { content: '\f00d'; }
            .status-ongoing:before { content: '\f017'; }

            .status-success:after {content: 'package builds have succeeded'; }
            .status-failure:after {content: 'package builds have failed'; }
            .status-ongoing:after {content: 'package builds are incomplete'; }

        }
    }

    .package {
        display: flex;

        text-decoration: none;
        color: inherit;

        position: relative;

        .package-name:after {
            content: '\f054';
            font-family: 'FontAwesome';

            opacity: 0;
            display: inline-block;
            transform: translate(1em,0);
            transition: opacity $trans-time-fast,
                        transform $trans-time-fast,
                        color $trans-time-fast;
        }

        &:hover .package-name:after {
            opacity: 0.8;
            transform: translate(1.5em, 0);
        }
        &.active .package-name:after {
            opacity: 1;
            transform: translate(2em, 0);
        }

        .package-status {
            text-align: right;
            flex-grow: 1;
        }

        &.success       .package-status { color: #0F8C75; }
        &.failure       .package-status { color: #BF535D; }
        &.ongoing       .package-status { color: #15346E; }
        &.unstarted     .package-status { color: #48544F; }

        &.success       .package-status:before  { content: '\f00c'; }
        &.failure       .package-status:before  { content: '\f00d'; }
        &.ongoing       .package-status:before  { content: '\f017'; }
        &.unstarted     .package-status:before  { content: '\f141'; }

        .package-status:before {
            font-family: 'FontAwesome';
            font-size: 0.7em;
            position: relative;
            top: -0.05em;
            margin-right: 0.5em;
        }

        transition: height $trans-time-med, opacity $trans-time-med, line-height $trans-time-med;
        line-height: 1em;

        will-change: auto;

        &:nth-child(2n+1) {
            background-color: #EFEFEF;
        }

        padding-left: 0.5em;
        padding-right: 0.5em;

        &.active.success   .package-name:after  { color: #0F8C75; }
        &.active.failure   .package-name:after  { color: #BF535D; }
        &.active.ongoing   .package-name:after  { color: #15346E; }
        &.active.unstarted .package-name:after  { color: #48544F; }

    }

    &.expanded {
        .package-list .package {
            opacity: 1;
            height: 2em;
            line-height: 2em;
        }
    }

    &:not(.expanded) {
        .package-list .package {
            height: 0;
            opacity: 0;
        }        
    }
}

.repo-main-page {
    display: flex;
    justify-content: flex-start;
}

.build-list {
    max-width: 600px;
    min-width: 300px;
}

.logs {
    padding: $padding;
    max-width: 600px;
}

.build-log-step {
    pre {
        overflow: auto;
        background-color: #EFEFEF;
        color: #222222;
        padding: 1em;
    }

    h3 {
        margin-top: 1em;
    }
}

.log-enter, .log-leave {
    transition: opacity     $trans-time-med,
                transform   $trans-time-med;
}

.log-enter {
    transform: translate(-32px, 0);
    opacity: 0;
}

.log-enter-active {
    transform: translate(0, 0px);
    opacity: 1;
}

.log-leave {
    transform: translate(0, 0px);
    opacity: 1;
}

.log-leave-active {
    transform: translate(32px, 0);
    opacity: 0;
}

#log-transition-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#log-transition-container.empty {
}

.log-close-link:before {
    content: "\f00d";
    font-family: 'FontAwesome';
    margin-right: 0.5em;
    font-size: 0.6em;
}
.log-close-link:hover {
    color: #BF535D;
}
.log-close-link {
    text-decoration: none;
    color: inherit;    
}