.packageStatusView {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;

    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;

    max-width: 400px;

    .build-short-summary {
        font-weight: bold;
        display: flex;

        time {
            margin-left: auto
        }
    }

    .package {
        display: flex;

        .package-status {
            text-align: right;
            flex-grow: 1;
        }

        .package-status.success     { color: #0F8C75; }
        .package-status.failure     { color: #BF535D; }
        .package-status.ongoing     { color: #15346E; }
        .package-status.unstarted   { color: #48544F; }

        transition: height 0.2s, opacity 0.2s;

        will-change: contents;
    }

    .repo-details.visible .package {
        opacity: 1;
        height: 1em;
        &:not(:last-child) { height: 1.25em; }
    }
    .repo-details:not(.visible) .package {
        height: 0;
        opacity: 0;
    }




}